# Virtual environment
venv/
.env
.venv/
env/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Test/tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Datasets
data/*

# Outputs
outputs/*
predictions/*

# OS files
.DS_Store
